fastapi==0.115.12
fonttools==4.57.0
importlib_resources==6.5.2
iniconfig==2.1.0
matplotlib==3.10.1
numpy==2.2.5
pandas==2.2.3
pillow==11.2.1
plotly==6.0.1
prophet==1.1.6
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
scikit-learn==1.6.1
sqlmodel==0.0.24

